<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCbTCbU67uKaFt1_E_vrVJfC-K1BuxNuXU</string>
	<key>GCM_SENDER_ID</key>
	<string>354190092766</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.test.coppeltest</string>
	<key>PROJECT_ID</key>
	<string>coppeltest-8b640</string>
	<key>STORAGE_BUCKET</key>
	<string>coppeltest-8b640.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:354190092766:ios:b326170debc9326218d54f</string>
</dict>
</plist>